@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import "tailwindcss";

.custom-title {
  font-family: 'Press Start 2P', cursive;
}

#root {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
}